---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs">\
    <div class="tracking-wider">
        <p class="text-whiteText">This is where I'll list all my blogs. They will start to appear soon... after I finish writing them.😅</p>
    </div>
</Layout>