---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Debak's Corner">
	<div class="tracking-wider">
        <p class="mt-10 text-whiteText text-2xl">Debak's Corner</p>
        <p class="mt-4 text-whiteText">Hey, this is Debak Roy. I am CSE undergrad learning all about how the computers works internally😊. Welcome to my little corner of the internet.</p>
        <p class="mt-4 text-whiteText">I am active on <span class="cursor-pointer p-1 tracking-widest text-blueText hover:bg-blueText hover:text-blackText"><a href="https://twitter.com/RoyDebak">[twitter]</a></span> or you can send a hi on <span class="tracking-widest p-1 text-purpleText hover:bg-purpleText hover:text-blackText">[discord]</span> my discord username is <span class="text-purpleText">debak_</span>. I keep all of my projects on <span class="cursor-pointer tracking-widest p-1 text-whiteText hover:bg-whiteText hover:text-blackText"><a href="https://github.com/slayeh17">[github]</a></span>.</p>
    </div>
</Layout>